{% extends "layout.html" %}
{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Tree Index</th>
        <th scope="col">Tree Girth(in)</th>
        <th scope="col">Tree Height(ft)</th>
        <th scope="col">Tree Volume(ft^3)</th>
    </tr>
    </thead>
    <tbody>
    {% for tree in trees %}
    <tr>
        <td><a href="view/{{tree.value}}">Tree {{ tree.value }}</a></td>
        <td>{{ tree.Girth_in }}</td>
        <td>{{ tree.Height_ft }}</td>
        <td>{{ tree.Volume_ft }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}