{% extends "layout.html" %}
{% block content %}
<form action="/trees/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="Index">Tree Index</label>
            <input id="Index" type="text" class="form-control" placeholder="Tree #?" name="Index">
        </div>
        <div class="col">
            <label for="Girth_in">Tree Girth(in)</label>
            <input id="Girth_in" type="text" class="form-control" placeholder="Thickness of Tree"
                   name="Girth_in">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="Height_ft">Tree Height(ft)</label>
            <input id="Height_ft" type="text" class="form-control" placeholder="Height of Tree" name="Height_ft">
        </div>
        <div class="col">
            <label for="Volume_ft">Tree Volume(ft^3)</label>
            <input id="Volume_ft" type="text" class="form-control" placeholder="Volume of Tree" name="Volume_ft">
        </div>
    </div>

    <button type="submit" class="btn btn-success">Add New Tree</button>

</form>

{% endblock %}